# <span style = "color:red"> *** Binary Classification *** </span>

There are basically two types of classification.

### <span style = "color:green"> _1. Binary Classification_ </span>:

In this model there would be only two classes. Example: 'Yes' or 'No' ; 'Male' or 'Female' ; 0 or 1

### <span style = "color:green"> _2. Multi class Classification_ </span>:

In this type of classification ther would be more than two classes. Example: 'Known' , 'Unknown', 'Not confident'; 0,1,2; etc.

In [1]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [2]:
credit_data = pd.read_csv("creditcard_cleaned.csv")

In [3]:
y = credit_data["Class"]
X = credit_data.drop(["Class"], axis = 1)

In [4]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Class, dtype: int64

In [5]:
X.head()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,19,20,21,22,23,24,25,26,27,28
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,0.251412,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,0.244964
1,1,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.069083,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,-0.342475
2,2,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.524980,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,1.160686
3,3,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.208038,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,0.140534
4,4,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,0.408542,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,-0.073403

In [6]:
x_train, x_test, y_train, y_test = train_test_split(X, y, random_state = 42, test_size = 0.25)

In [7]:
logreg = LogisticRegression().fit(x_train,y_train)

In [8]:
y_pred = logreg.predict(x_test)

In [9]:
accuracy_score(y_test, y_pred)

0.5003939278830597